<h2>Login</h2>
<hr>
<br>
<form action="/login" method="POST">
{{#if errorMessage}}
  <br>
  <h1>{{errorMessage}}</h1>
  <br>
{{/if}}
  <label> Email:
    <input type="email" name="email" placeholder="email@mail.com" required />
  </label>
    <label> Password:
    <input type="password" name="password" placeholder="********" required />
  </label>
  <button type="submit"> Login </button>
</form>
