<section>
    <h1>List of Authors:</h1>
    {{#each authors}}
        <h2>Name: {{this.name}}</h2>
        <h2>Favourite food: {{this.favouriteFood}}</h2>
        <h2>Country: {{this.country}}</h2>
        <hr>
    {{/each}}
</section>